body {
    background: url("trainwall.jpg");
    background-size: cover;
}

.created {
    margin: 5px 0 0 10px;
}

.container {
    width: 50%;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}


label {
    font-weight: 500;
}

.heading {
    text-align: center;
    padding: 15px 0 20px 0;
}

textarea {
    padding: 15px;
}


.btn {
    width: 200px;
}